<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slackr">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".DashBoardActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SecurityActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".VerifyActivity" />
        <activity android:name=".MatchActivity" />
        <activity android:name=".GroupListActivity" />
        <activity android:name=".ManagePersonalGroupListActivity" />
    </application>

</manifest>